/* Tailwind v4 import */
@import "tailwindcss";

/* Custom global styles */
body {
  background-color: #ffffff; /* bg-gray-100 */
  color: #111827; /* text-gray-900 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
